<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm p-2 fs-4">
    <div class="container-fluid">
        <a href="%%__CURRENT_URL__%%" class="logo d-flex align-items-center">
        <span class="navbar-brand h1 fs-3 position-relative ps-4">
            %%TITLE%% %%__DEBUG_STR__%%
        </span>
        </a>
        <div class="collapse navbar-collapse" id="navbarContent">
            %%NAVBAR_LEFT_HTML%%
            %%NAVBAR_CENTER_HTML%%
            %%NAVBAR_RIGHT_HTML%%
        </div>
        </div>
</nav>